{
    "trailingComma": "all",
    "arrowParens": "always",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "quoteProps": "as-needed",
    "endOfLine": "auto",
    "printWidth": 180
}
