
 
DATABASE_URL="postgresql://postgres:shourovr82@localhost:5432/pizza_prism?schema=public"


NODE_ENV=development
PORT=7000

JWT_SECRET= 'very-secret'


BCRYPT_SALT_ROUNDS=12
JWT_EXPIRES_IN=10d
JWT_REFRESH_SECRET = 'very-refresh-secret'
JWT_REFRESH_EXPIRES_IN = 365d